{{>layout/header}}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>장바구니</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="primary-checkbox">
                                <input type="checkbox" id="primary-checkbox" name="cart_check" value="selectAll"
                                       onclick="cart.cart_selectAll(this);" checked="">
                                <label for="primary-checkbox"></label>
                            </div>
                        </th>
                        <th scope="col">상품명</th>
                        <th scope="col">가격</th>
                        <th scope="col" class="count">수량</th>
                        <th scope="col"></th>
                        <th scope="col">합계</th>
                    </tr>
                    </thead>
                    <tbody id="cartBody">
                    {{#cartList}}
                    <tr name="cartList">
                        <td>
                            <div class="primary-checkbox">
                                <input type="checkbox" id="checkbox_{{id}}" name="cart_check" checked=""
                                    onclick="cart.cart_selectCalc();">
                                <label for="checkbox_{{id}}"></label>
                            </div>
                        </td>
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="/display/{{img_num}}" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>{{p_name}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>{{p_price}}원</h5>
                        </td>
                        <td>
                            <div class="product_count">
                                <span class="input-number-decrement"> <i class="ti-minus"></i></span>
                                <input class="input-number" type="text" value="{{quantity}}" min="0" max="10">
                                <span class="input-number-increment"> <i class="ti-plus"></i></span>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="genric-btn primary-border small" onclick="cart.cart_update({{id}}, this);">변경</a>
                        </td>
                        <td>
                            <h5>{{total_price}}원</h5>
                        </td>
                        <input type="hidden" value="{{id}}"/>
                    </tr>
                    {{/cartList}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <h5 class="total_price">상품합계금액</h5>
                        </td>
                        <td>
                            <h5 class="total_price" id="p_sum">6,8000원</h5>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-left">
                    <a class="btn_1 checkout_btn_1" href="#" onclick="cart.cart_delete();">선택상품삭제</a>
                </div>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1" href="/">쇼핑계속하기</a>
                    <a class="btn_1 checkout_btn_1" href="#">선택상품주문</a>
                </div>
            </div>
        </div>
</section>
<!--================End Cart Area =================-->
{{>layout/footer}}
<script src="/js/cart.js"></script>
<script>
 $(document).ready(function() {
    	cart.cart_update_calc();
    	common.initCart();
    });
</script>