{{>layout/header}}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>주문/결제</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->

<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div id="order_success" style="display: none">
                <div class="cart_area section_padding">
                    <h1 class="text-center">주문이 정상적으로 완료되었습니다</h1>
                </div>
            </div>

            <h3 class="text-heading">주문상품</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">상품명</th>
                        <th scope="col">가격</th>
                        <th scope="col">수량</th>
                        <th scope="col">합계</th>
                    </tr>
                    </thead>
                    <tbody id="orderBody">
                    {{#orderList}}
                    <tr name="orderList">
                        <td>
                            <div class="media">
                                <div class="d-flex">
                                    <img src="/display/{{img_num}}" alt="" />
                                </div>
                                <div class="media-body">
                                    <p>{{p_name}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>{{p_price}}원</h5>
                        </td>
                        <td>
                            <h5>{{quantity}}</h5>
                        </td>
                        <td>
                            <h5>{{order_price}}원</h5>
                        </td>
                    </tr>
                    {{/orderList}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <h5 class="total_price">상품합계금액</h5>
                        </td>
                        <td>
                            <h5 class="total_price" id="amount">6,8000원</h5>
                            <input type="hidden" id="pay_amount" value="">
                        </td>
                    </tr>
                    </tbody>
                </table>
            {{#userInfo}}
            </div>
            <div id="order_info_input">
                <form class="form-contact comment_form" action="#" id="orderForm" method = "POST" enctype="multipart/form-data">
                    <h3 class="text-heading">배송지 정보</h3>
                        <input type="text" class="d_form mini" id="postcode" name="postcode" placeholder="우편번호">
                        <input type="button" class="d_btn" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" class="d_form large" id="address" name="address" placeholder="주소"><br>
                        <input type="text" class="d_form" id="detailAddress" name="detailAddress" placeholder="상세주소">
                        <input type="text" class="d_form" id="extraAddress" name="extraAddress" placeholder="참고항목">

                    <div class="section-top-border">
                        <h3 class="text-heading">수령인 정보</h3>
                        <h5>수령인</h5>
                        <input type="text" class="d_form_name" name="order_name" id="buyer_name" placeholder="이름" value="{{name}}">
                        <h5>연락처</h5>
                        <select class="d_form_phone" id="phone_first" name="phone_first" placeholder="">
                            <option value="010">010</option>
                            <option value="011">011</option>
                            <option value="016">016</option>
                            <option value="017">017</option>
                            <option value="010">018</option>
                            <option value="019">019</option>
                        </select>-
                        <input type="text" class="d_form_phone" id="phone_second" name="phone_second" maxlength="4" placeholder="">-
                        <input type="text" class="d_form_phone" id="phone_third"  name="phone_third" maxlength="4" placeholder="">
                    </div>
                </form>
                <div class="section-top-border">
                    <h3 class="text-heading">결제수단</h3>
                </div>
                <div class="checkout_btn_inner float-left">
                    <!-- a class="btn_1 checkout_btn_1" href='javascript:void(0)' onclick="payment(event);">결제하기</a-->
                    <a class="btn_1 checkout_btn_1" href='javascript:void(0)' onclick="orderpaid();">결제하기</a>
                </div>
            </div>

            <div id="order_info_after" style="display: none">
                <section class="confirmation_part section_padding">
                    <div class="col-lg-6 col-lx-4">
                        <div class="single_confirmation_details">
                            <h4>주문자 정보</h4>
                            <ul>
                                <li>
                                    <p>주문번호</p><span>: 1</span>
                                </li>
                                <li>
                                    <p>이름</p><span>: 윤성</span>
                                </li>
                                <li>
                                    <p>전화번호</p><span>: 010-1234-1234</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-lx-4">
                        <div class="single_confirmation_details">
                            <h4>배송지 정보</h4>
                            <ul>
                                <li>
                                    <p>우편번호</p><span>: 15432</span>
                                </li>
                                <li>
                                    <p>주소</p><span>: 경기도 군포시 000동</span>
                                </li>
                                <li>
                                    <p>상세주소</p><span>: 010-1234-1234</span>
                                </li>
                                <li>
                                    <p>참고항목</p><span>: 010-1234-1234</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <input type="hidden" id="buyer_email" value="{{email}}" />
        {{/userInfo}}
    </div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script>
function payment(e){
    IMP.init('imp26688142');

    IMP.request_pay({
        pg : 'inicis', // version 1.1.0부터 지원.
        pay_method : 'card',
        merchant_uid : 'merchant_' + new Date().getTime(),
        name : '주문명:결제테스트',
        amount : $('#pay_amount').val(), //판매 가격
        buyer_email : $('#buyer_email').val(),
        buyer_name : $('#buyer_name').val(),
        buyer_tel : $('phone_first').val() + "-" + $('phone_second').val() + "-" + $('phone_third').val(),
        buyer_addr : $('#address').val() + " " + $('#extraAddress').val() + " " + $('#detailAddress').val(),
        buyer_postcode : $('#postcode').val()
    }, function(rsp) {
        if ( rsp.success ) {
            /*
            $.ajax({
                url : "/verifyIamport/" + rsp.imp_uid,
                type : "POST",
            }).done(function(data) {
                console.log(data);
            });
            */
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
        } else {
            var msg = '결제에 실패하였습니다.';
            msg += '에러내용 : ' + rsp.error_msg;
        }
        alert(msg);
    });
}

function orderpaid() {
    var form = $('#orderForm');
    var formData = new FormData(form[0]);
    formData.append("amount",  $('#pay_amount').val());
    var Data = {
        "postcode" : $('#postocde').val(),
        "order_name" : $('#buyer_name').val(),
    };
    $.ajax({
        type : "POST",
        url : "/order/delivery/save",
        data : formData,
        dataType: 'json',
        processData: false,
        contentType: false,
    }).done(function(data) {
        console.log(data);
        document.querySelector('#order_success').style.display='block';
        document.querySelector('#order_info_input').style.display='none';
        document.querySelector('#order_info_after').style.display='block';
        //location.href="/order/confirm/" + data;
    }).fail(function(error) {
        alert(JSON.stringify(error));
    });
}

</script>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
       var themeObj = {
           //bgColor: "", //바탕 배경색
           searchBgColor: "#B08EAD", //검색창 배경색
           //contentBgColor: "", //본문 배경색(검색결과,결과없음,첫화면,검색서제스트)
           //pageBgColor: "", //페이지 배경색
           //textColor: "#FFFFFF", //기본 글자색
           queryTextColor: "#FFFFFF", //검색창 글자색
           //postcodeTextColor: "", //우편번호 글자색
           //emphTextColor: "", //강조 글자색
           //outlineColor: "", //테두리
        };

        new daum.Postcode({
            theme: themeObj,
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("extraAddress").value = extraAddr;

                } else {
                    document.getElementById("extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();
            }
        }).open();
    }
</script>
<!--================End Cart Area =================-->
{{>layout/footer}}
<script>
 $(document).ready(function() {
    	common.initOrder();
    });
</script>