{{>layout/header}}

<!-- breadcrumb part start-->
<section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>Q&A</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end-->
<div class="container box_1170">
    <div class="section-top-border">
        <h3 class="mb-30">문의사항</h3>
        <form class="form-contact comment_form" action="#" id="commentForm" method = "POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <input class="form-control" name="title" id="title" type="text" placeholder="제목">
                    </div>
                </div>
                {{#userInfo}}
                    <input type="hidden" name="author" id="author" value="{{name}}">
                {{/userInfo}}
                {{^userInfo}}
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="author" id="author" type="text" placeholder="이름">
                    </div>
                </div>
                {{/userInfo}}
                <div class="col-12">
                    <div class="form-group">
                        <textarea class="form-control w-100" name="content" id="content" cols="30" rows="9" placeholder="내용"></textarea>
                    </div>
                   <input type = "file" name = "qnas_img"
                        accept = "image/*" onchange="setThumbnail(event);" />
                        <div id="image_container" class="col-md-3"></div>

                </div>


            </div>
            <div class="form-group mt-3">
                <a href="#" class="genric-btn info radius" id="qna-save">등록</a>
                <a href="#" class="genric-btn danger radius" id="qna-cancel" onclick="qnas.listInit();">취소</a>
            </div>
        </form>

    </div>
</div>

<script>
function setThumbnail(event) {
    var reader = new FileReader();
    reader.onload = function(event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);
        document.querySelector("div#image_container").appendChild(img); };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>

{{>layout/footer}}